In [1]:
import pandas as pd
import numpy as np

# 1. data set 가져오기 
score = pd.read_csv('C:/Users/hyebin/Desktop/Python_ML/data/score_iq.csv')
print(score.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   sid      150 non-null    int64
 1   score    150 non-null    int64
 2   iq       150 non-null    int64
 3   academy  150 non-null    int64
 4   game     150 non-null    int64
 5   tv       150 non-null    int64
dtypes: int64(6)
memory usage: 7.2 KB
None

In [2]:
# 2. subset 생성
print(score.corr()) # 상관계수

              sid     score        iq   academy      game        tv
sid      1.000000 -0.014399 -0.007048 -0.004398  0.018806  0.024565
score   -0.014399  1.000000  0.882220  0.896265 -0.298193 -0.819752
iq      -0.007048  0.882220  1.000000  0.671783 -0.031516 -0.585033
academy -0.004398  0.896265  0.671783  1.000000 -0.351315 -0.948551
game     0.018806 -0.298193 -0.031516 -0.351315  1.000000  0.239217
tv       0.024565 -0.819752 -0.585033 -0.948551  0.239217  1.000000

In [4]:
# subset : 상관성 높은 변수 
score_df = score[['score', 'iq', 'academy']]
score_df

     score   iq  academy
0       90  140        2
1       75  125        1
2       77  120        1
3       83  135        2
4       65  105        0
..     ...  ...      ...
145     83  135        2
146     65  105        0
147     80  123        3
148     65  105        0
149     83  135        2

[150 rows x 3 columns]

In [6]:
print(score_df.shape)

(150, 3)

In [7]:
# 3. X, Y변수 생성 
X = score_df.iloc[:, 1:] # iq, academy
Y = score_df.iloc[:, 0] # score[정답, 관측치]
print(X.shape) # 2차원 : (150, 2)
print(Y.shape) # 1차원 : (150,)

(150, 2)
(150,)

In [8]:
# 4. 기울기와 절편 변수 
'''
Intercept    25.229141 : y절편 
iq            0.376966 : x1 기울기 
academy       2.992800 : x2 기울기 
'''
a = np.array([[0.376966], [2.992800]])
print(a.shape) # (2, 1)
b = 25.229141

(2, 1)

In [9]:
# 5. 행렬곱(dot) 적용 = dot(X, a)
matmul = np.dot(X, a) # (150, 2)*(2, 1)=(150,1)
print(matmul.shape) # (150, 1)v

(150, 1)

In [10]:
# Y = X.a + b 
fit_value = matmul + b
print(fit_value.shape) # (150, 1)

(150, 1)

In [11]:
# 6. model 평가(정답=예측치)
# Y = X*a + b 
fitted_value1d = fit_value.reshape(150) 
print(fitted_value1d.shape) # (150,)

(150,)

In [12]:
# 상관계수 평가 : 정답과 예측치 간의 상관성 
df = pd.DataFrame({'fitted' : fitted_value1d, 'Y' : Y}) 
corr = df.fitted.corr(df.Y)
print('corr=', corr) # corr= 0.9727792069594755- 정답과 예측치 간의 상관성

corr= 0.972779206959475

In [14]:
print(df.fitted[:5],"\n") # 예측치 
print(df.Y[:5])

0    83.989981
1    75.342691
2    73.457861
3    82.105151
4    64.810571
Name: fitted, dtype: float64

0    90
1    75
2    77
3    83
4    65
Name: Y, dtype: int64