In [2]:
"""
문01) 이항검정 : 토요일(Sat)에 오는 여자 손님 중 비흡연자가 흡연자 보다 많다고 할 수 있는가?

 # 귀무가설 : 비흡연자와 흡연자의 비율은 차이가 없다.(P=0.5)
"""

import pandas as pd
tips = pd.read_csv("C:/Users/hyebin/Desktop/Python_ML/data/tips.csv")
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
day = tips['day']
print(day.value_counts())

Sat     87
Sun     76
Thur    62
Fri     19
Name: day, dtype: int64

In [5]:
# Sat 기준 subset 생성 
sat_day = tips[tips['day'] == 'Sat']
print(sat_day.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87 entries, 19 to 242
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  87 non-null     float64
 1   tip         87 non-null     float64
 2   sex         87 non-null     object
 3   smoker      87 non-null     object
 4   day         87 non-null     object
 5   time        87 non-null     object
 6   size        87 non-null     int64
dtypes: float64(2), int64(1), object(4)
memory usage: 5.4+ KB
None

In [6]:
# Female 기준 subset 생성 
sat_day_s = sat_day[sat_day['sex'] == 'Female']
print(sat_day_s.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28 entries, 21 to 240
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  28 non-null     float64
 1   tip         28 non-null     float64
 2   sex         28 non-null     object
 3   smoker      28 non-null     object
 4   day         28 non-null     object
 5   time        28 non-null     object
 6   size        28 non-null     int64
dtypes: float64(2), int64(1), object(4)
memory usage: 1.8+ KB
None

In [7]:
# smoker 기준 group
group = sat_day_s.groupby('smoker')
print(group.size())

smoker
No     13
Yes    15
dtype: int64

In [8]:
from scipy import stats
n = 13; N = 28
pvalue = stats.binom_test(x=n, n=N, p=0.5, alternative='two-sided') # 성공횟수, 시행횟수 
print('n = %d, pvalue= %.5f'%(n, pvalue))

n = 13, pvalue= 0.85055

In [ ]:
# [해설] 비흡연자와 흡연자의 비율은 차이가 없다.