In [2]:
'''
Data Frame의 모양 변경
'''
import pandas as pd

buy = pd.read_csv('./data/buy_data.csv')
print(buy.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         22 non-null     int64
 1   Customer_ID  22 non-null     int64
 2   Buy          22 non-null     int64
dtypes: int64(3)
memory usage: 656.0 bytes
None

In [3]:
buy.head()

       Date  Customer_ID  Buy
0  20150101            1    3
1  20150101            2    4
2  20150102            1    2
3  20150101            2    3
4  20150101            1    2

In [4]:
print('shape')
print(buy.shape) # (22, 3)

shape
(22, 3)

In [9]:
# 1. wide -> long
buy_long = buy.stack() 
print(buy_long)
print(buy_long.shape) # (66,)

0   Date           20150101
    Customer_ID           1
    Buy                   3
1   Date           20150101
    Customer_ID           2
                     ...
20  Customer_ID           1
    Buy                   9
21  Date           20150107
    Customer_ID           5
    Buy                   7
Length: 66, dtype: int64
(66,)

In [10]:
# 2. long -> wide
buy_wide = buy_long.unstack() 
print(buy_wide)
print(buy_wide.shape) # (22, 3)

        Date  Customer_ID  Buy
0   20150101            1    3
1   20150101            2    4
2   20150102            1    2
3   20150101            2    3
4   20150101            1    2
5   20150103            2    3
6   20150102            4    6
7   20150102            5    1
8   20150103            1    5
9   20150103            2    1
10  20150103            1    5
11  20150107            3    4
12  20150107            5    3
13  20150103            5    5
14  20150104            1    5
15  20150104            2    8
16  20150104            1    5
17  20150105            5    6
18  20150106            2    6
19  20150106            3    6
20  20150107            1    9
21  20150107            5    7
(22, 3)

In [11]:
# 3. 전치행렬
buy_tran = buy.T
print(buy_tran)
print(buy_tran.shape) # (3, 2)

                   0         1         2         3         4         5   \
Date         20150101  20150101  20150102  20150101  20150101  20150103
Customer_ID         1         2         1         2         1         2
Buy                 3         4         2         3         2         3

                   6         7         8         9   ...        12        13  \
Date         20150102  20150102  20150103  20150103  ...  20150107  20150103
Customer_ID         4         5         1         2  ...         5         5
Buy                 6         1         5         1  ...         3         5

                   14        15        16        17        18        19  \
Date         20150104  20150104  20150104  20150105  20150106  20150106
Customer_ID         1         2         1         5         2         3
Buy                 5         8         5         6         6         6

                   20        21
Date         20150107  20150107
Customer_ID         1         5
Buy                 9         7

[3 rows x 22 columns]
(3, 22)

In [12]:
# 4. 중복데이터 제거 
buy2 = buy.drop_duplicates()
print(buy2)
print(buy2.shape) # (20, 3)

        Date  Customer_ID  Buy
0   20150101            1    3
1   20150101            2    4
2   20150102            1    2
3   20150101            2    3
4   20150101            1    2
5   20150103            2    3
6   20150102            4    6
7   20150102            5    1
8   20150103            1    5
9   20150103            2    1
11  20150107            3    4
12  20150107            5    3
13  20150103            5    5
14  20150104            1    5
15  20150104            2    8
17  20150105            5    6
18  20150106            2    6
19  20150106            3    6
20  20150107            1    9
21  20150107            5    7
(20, 3)

In [13]:
# 5. 특정 칼럼으로 index 지정 
# 시계열 데이터 생성 : 'Date'칼럼 index 지정 
new_buy = buy.set_index('Date')
print(new_buy)

          Customer_ID  Buy
Date
20150101            1    3
20150101            2    4
20150102            1    2
20150101            2    3
20150101            1    2
20150103            2    3
20150102            4    6
20150102            5    1
20150103            1    5
20150103            2    1
20150103            1    5
20150107            3    4
20150107            5    3
20150103            5    5
20150104            1    5
20150104            2    8
20150104            1    5
20150105            5    6
20150106            2    6
20150106            3    6
20150107            1    9
20150107            5    7