In [2]:
'''
기본 파일 입출력 
 1. csv file read
 2. csv file write
'''

import pandas as pd; # 별칭 

# 1. read_csv()
iris = pd.read_csv('./data/iris.csv')
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  150 non-null    float64
 1   Sepal.Width   150 non-null    float64
 2   Petal.Length  150 non-null    float64
 3   Petal.Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [4]:
# 칼럼명 특수문자 or 공백 -> '_' 교체 
iris.columns = iris.columns.str.replace('.', '_')
iris.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [8]:
# 칼럼명이 없는 경우 : 상대 경로 
student_df = pd.read_csv('./data/student.csv', header = None)
student_df

     0     1    2   3
0  101  hong  175  65
1  201   lee  185  85
2  301   kim  173  60
3  401  park  180  70

In [12]:
# 칼럼명 지정하여 파일 읽기 
col_name = ['학번', '이름', '키', '몸무게']
st_df = pd.read_csv('./data/student.csv', names = col_name)
st_df

    학번    이름    키  몸무게
0  101  hong  175   65
1  201   lee  185   85
2  301   kim  173   60
3  401  park  180   70

In [14]:
# 비만도 지수(bmi) 칼럼 추가 : 18~23
# BMI = 몸무게 / 키² 로서, 여기서 몸무게는 kg, 키는 m 단위

BMI = [ st_df.loc[i, '몸무게'] / (st_df.loc[i, '키']*0.01)**2  for i in range(len(st_df))]
BMI

[21.224489795918366, 24.835646457268076, 20.04744562130375, 21.604938271604937]

In [16]:
# 키 변경 : kg -> m
(175*0.01)**2 # 제곱

3.0625

In [18]:
type(BMI) # list

list

In [19]:

BMI_ser = pd.Series(BMI)
BMI_ser

0    21.224490
1    24.835646
2    20.047446
3    21.604938
dtype: float64

In [20]:
# BMI 칼럼 추가 : 반올림 처리 
st_df['BMI'] = BMI_ser.round(2) # 소숫점 2자리 
st_df

    학번    이름    키  몸무게    BMI
0  101  hong  175   65  21.22
1  201   lee  185   85  24.84
2  301   kim  173   60  20.05
3  401  park  180   70  21.60

In [21]:
# 비만도 지수(bmi) 정수 :  18~23
# 비만도 칼럼 추가 : 18~23 정상체중 
result = []
for i in st_df.BMI  :
    if i >= 18 and i <= 23 :
        result.append("정상")
    elif i > 23:
        result.append("비만")
    else :
        result.append("저체중")
    
st_df['비만도'] = result  
st_df

    학번    이름    키  몸무게    BMI 비만도
0  101  hong  175   65  21.22  정상
1  201   lee  185   85  24.84  비만
2  301   kim  173   60  20.05  정상
3  401  park  180   70  21.60  정상

In [23]:
# 2. 파일 저장 

# 파일 저장 
st_df.to_csv('./data/student_info.csv',index=None, na_rep='NaN', encoding='utf-8')

# 파일 불러오기
student_df = pd.read_csv('./data/student_info.csv', encoding='utf-8')
print(student_df)

    학번    이름    키  몸무게    BMI 비만도
0  101  hong  175   65  21.22  정상
1  201   lee  185   85  24.84  비만
2  301   kim  173   60  20.05  정상
3  401  park  180   70  21.60  정상